<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Jakuten Store</title>
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <style type="text/css">
    .bs-component + .bs-component {
        margin-top: 1rem;
    }
    @media (min-width: 768px) {
        .bs-docs-section {
        margin-top: 8em;
        }
        .bs-component {
        position: relative;
        }
        .bs-component .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 1;
        display: block;
        }
        .bs-component .modal-dialog {
        width: 90%;
        }
        .bs-component .popover {
        position: relative;
        display: inline-block;
        width: 220px;
        margin: 20px;
        }
        .nav-tabs {
        margin-bottom: 15px;
        }
        .progress {
        margin-bottom: 10px;
        }
    }
    </style>

	<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    
</head>
<body>
<header>
</header>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #102030; opacity: 0.9;}">
    <a class="navbar-brand" href="/">
        <img src="data:image/svg+xml,%3Csvg%20id%3D%22aae16133-9bdf-4745-aeb2-eaf9e357bec0%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20129.66%20117.14%22%3E%3Cdefs%3E%3Cstyle%3E.b26216d2-ffa3-449e-b9cd-b5da6b0ad965%7Bfill%3A%23fff%3B%7D.ddf4149c-50b4-4cde-a4a4-bb066597dc81%7Bfill%3A%231aa4c9%3B%7D.%5C35%20add4185-29e0-4da5-9e77-007513873841%7Bfill%3A%23405461%3B%7D.d6f2d54c-80b9-4536-b01d-6e399bce5f54%7Bfill%3A%23e4007f%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3E%E5%90%8D%E7%A7%B0%E6%9C%AA%E8%A8%AD%E5%AE%9A-1%3C%2Ftitle%3E%3Cpolygon%20class%3D%22b26216d2-ffa3-449e-b9cd-b5da6b0ad965%22%20points%3D%22129.66%2035.82%20108.98%200%2067.62%200%2060.15%2012.94%2030.08%2012.94%200%2065.04%2030.08%20117.14%2090.23%20117.14%20120.31%2065.04%20116.55%2058.52%20129.66%2035.82%22%2F%3E%3Cpath%20class%3D%22ddf4149c-50b4-4cde-a4a4-bb066597dc81%22%20d%3D%22M107.25%2C68.64H85.36c-.63%2C1.94-1.36%2C4-2.19%2C6a74.34%2C74.34%2C0%2C0%2C1-4.66%2C9.59A61.62%2C61.62%2C0%2C0%2C1%2C72.4%2C93%2C34.27%2C34.27%2C0%2C0%2C1%2C65%2C99.67a21%2C21%2C0%2C0%2C1-2.2%2C1.16%2C19.21%2C19.21%2C0%2C0%2C1-2.75%2C1%2C26.32%2C26.32%2C0%2C0%2C1-3.14.68%2C20.23%2C20.23%2C0%2C0%2C1-3.28.26%2C26.23%2C26.23%2C0%2C0%2C1-5.89-.73%2C39%2C39%2C0%2C0%2C1-6.36-2.09%2C40.38%2C40.38%2C0%2C0%2C1-6.15-3.28A30.48%2C30.48%2C0%2C0%2C1%2C30%2C92.42a20%2C20%2C0%2C0%2C1-3.66-5A12.15%2C12.15%2C0%2C0%2C1%2C25%2C81.82a14.7%2C14.7%2C0%2C0%2C1%2C.44-3.88%2C5.89%2C5.89%2C0%2C0%2C1%2C1.44-2.62%2C6%2C6%2C0%2C0%2C1%2C2.65-1.46%2C14.46%2C14.46%2C0%2C0%2C1%2C4-.48%2C1.6%2C1.6%2C0%2C0%2C1%2C1.34.66%2C4.85%2C4.85%2C0%2C0%2C1%2C.76%2C1.6%2C11.27%2C11.27%2C0%2C0%2C1%2C.34%2C2c0%2C.73.08%2C1.41.08%2C2v2a34.85%2C34.85%2C0%2C0%2C0%2C2.8%2C3.75%2C27.41%2C27.41%2C0%2C0%2C0%2C3.9%2C3.77%2C22.94%2C22.94%2C0%2C0%2C0%2C4.79%2C2.93A13.14%2C13.14%2C0%2C0%2C0%2C53%2C93.34a12.31%2C12.31%2C0%2C0%2C0%2C5.89-1.47A20.74%2C20.74%2C0%2C0%2C0%2C64%2C88a34%2C34%2C0%2C0%2C0%2C4.35-5.58A60.62%2C60.62%2C0%2C0%2C0%2C72%2C75.87c1.06-2.25%2C2-4.49%2C2.83-6.73l.18-.5H69.35L50.4%2C35.82%2C61.88%2C15.94H31.81L3.46%2C65l28.35%2C49.1H88.5L116.85%2C65l-3.76-6.52Z%22%2F%3E%3Cpath%20class%3D%225add4185-29e0-4da5-9e77-007513873841%22%20d%3D%22M91%2C20.22l3.93-1q2.75-.68%2C5.16-1.25c.1%2C0%2C.45-.13%2C1-.27l2-.44%2C2.1-.45a8.16%2C8.16%2C0%2C0%2C1%2C1.31-.21%2C2%2C2%2C0%2C0%2C1%2C1.15.37%2C2.91%2C2.91%2C0%2C0%2C1%2C.86.92%2C4.93%2C4.93%2C0%2C0%2C1%2C.55%2C1.25%2C4.71%2C4.71%2C0%2C0%2C1%2C.21%2C1.34%2C3.64%2C3.64%2C0%2C0%2C1-1.2%2C2.72%2C11.41%2C11.41%2C0%2C0%2C1-3%2C2%2C30.58%2C30.58%2C0%2C0%2C1-4%2C1.52c-1.45.43-2.81.84-4.06%2C1.23-.46.14-.88.27-1.28.41l17.4%2C30.13%2C13.1-22.7L107.25%2C3H69.35L61.88%2C15.94H88.5Z%22%2F%3E%3Cpath%20class%3D%22d6f2d54c-80b9-4536-b01d-6e399bce5f54%22%20d%3D%22M88.3%2C57.33c.58-2.74%2C1.06-5.26%2C1.47-7.57s.71-4.25.94-5.86.37-2.62.44-3c.21-1.71.4-3.51.58-5.39s.35-3.6.52-5.14q.16-.67%2C1.5-1.23c.57-.23%2C1.22-.47%2C1.94-.71L91%2C20.22l-1.6.4L83.87%2C22c-1.81.48-3.52.91-5.13%2C1.31l-4.37%2C1.08c-1.31.31-2.38.56-3.22.73h-.74a25.83%2C25.83%2C0%2C0%2C0-3.82.24%2C5.52%2C5.52%2C0%2C0%2C0-2.54%2C1%2C4.12%2C4.12%2C0%2C0%2C0-1.41%2C2.18%2C13%2C13%2C0%2C0%2C0-.45%2C3.79%2C4.73%2C4.73%2C0%2C0%2C0%2C1.34%2C3.62%2C4.66%2C4.66%2C0%2C0%2C0%2C3.32%2C1.26%2C6.78%2C6.78%2C0%2C0%2C0%2C1.78-.32l13-3.66c.49.1.73.55.73%2C1.36a53.8%2C53.8%2C0%2C0%2C1-1%2C10q-1%2C5.09-2.33%2C10.63c-.14.53-.39%2C1.48-.74%2C2.86s-.82%2C3-1.41%2C4.89S75.71%2C66.6%2C75%2C68.64H85.36c.35-1.09.69-2.17%2C1-3.22C87.07%2C62.77%2C87.72%2C60.07%2C88.3%2C57.33Z%22%2F%3E%3C%2Fsvg%3E" height="40px" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar">
        <a class="navbar-brand" href="/">
            弱天
        </a>
        <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCat" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    商品カテゴリ
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownCat">
                    <a class="dropdown-item" href="/cat/food">食品・ドリンク</a>
                    <a class="dropdown-item" href="/cat/interior">Tシャツ</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="#">配送</a></li>
            <li class="nav-item"><a class="nav-link" href="#">会社概要</a></li>
            <% if(session && session.user && session.user.id) { %>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= session.user.display_name %> 様<span class="caret">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                    <a class="dropdown-item" href="/profile">プロフィール</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">ログアウト</a>
                </div>
            </li>
            <% }else{ %>
            <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">ログイン</a></li>
            <% } %>
        </ul>
    </div>
</nav>

<%# ログイン・登録モーダル %>
<% if(!session || !session.user || !session.user.id) { %>

<div class="modal" tabindex="-1" role="dialog" id="loginModal">
    <form>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ログイン</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <fieldset>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputEmail">メールアドレス</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="you@example.com" required>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">パスワード</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="modal-footer">  
                        <div style="text-align: right">
                            <button type="reset" class="btn btn-secondary">リセット</button>
                            <button type="submit" class="btn btn-primary" id="submitLogin">送信</button>
                        </div>
                    </div>
                    <div class="modal-footer">  
                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#registerModal" data-dismiss="modal" aria-label="Close">新規登録</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</div>

<div class="modal" tabindex="-1" role="dialog" id="registerModal">
    <form id="registerForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalTitle">新規会員登録</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="registerConfirmationAlert" class="alert alert-info" style="display: none">下記の内容で登録します。よろしいですか？</div>
                    <fieldset id="registerFieldSet">
                        <div class="form-group">
                            <label for="inputEmail">メールアドレス</label>
                            <input type="email" class="form-control" id="registerEmail" placeholder="you@example.com" required />
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">パスワード</label>
                            <div class="row">
                                <div class="col"><input type="password" class="form-control" id="registerPassword" placeholder="12文字以上" required /></div>
                                <div class="col"><input type="password" class="form-control" id="registerPasswordConfirm" placeholder="確認" required /></div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label for="">お名前</label>
                            <div class="row">
                                <div class="col"><input type="text" class="form-control" id="registerFamilyName" placeholder="姓" required></div>
                                <div class="col"><input type="text" class="form-control" id="registerFirstName" placeholder="名" required></div>
                            </div>
                            <label for="">よみがな</label>
                            <div class="row">
                                <div class="col"><input type="text" class="form-control" id="registerFamilyNameKana" placeholder="セイ" required></div>
                                <div class="col"><input type="text" class="form-control" id="registerFirstNameKana" placeholder="メイ" required></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer" id="inputRegister">
                    <button type="button" class="btn btn-secondary" id="resetRegister" data-toggle="modal" data-target="#loginModal" data-dismiss="modal" aria-label="Close">戻る</button>
                    <button type="submit" class="btn btn-primary" id="submitRegister" onsubmit="return false;">次へ</button>
                </div>
                <div class="modal-footer" id="confirmRegister" style="display: none">
                    <button type="button" class="btn btn-secondary" id="resetConfirm">修正</button>
                    <button type="button" class="btn btn-primary" id="submitConfirm">登録</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function(){
        $('#submitLogin').on('click',function(){
            $.ajax({
                url:'/api/login',
                type:'POST',
                data:{
                    'email':$('#inputEmail').val(),
                    'password':$('#inputPassword').val()
                }
            })
            .done( (data) => {
                $('.result').html(data);
                console.log(data);
                location.reload();
            })
            .fail( (data) => {
                $('.result').html(data);
                console.log(data);
            })
            .always( (data) => {
            });
            return false;
        });
    });
    $(function(){
        $('#registerPasswordConfirm').on('input',function(){
            var $password = $('#registerPassword')[0];
            var $confirm = $('#registerPasswordConfirm')[0];
            console.log($password);
            if($password.value == $confirm.value){
                $confirm.setCustomValidity('');
            }else{
                $confirm.setCustomValidity('パスワードが確認と異なります');
            }
        });
    });
    $(function(){
        $('#registerForm').on('submit', function(event){
            event.preventDefault();
            var passwordInput = $('#registerPasswordConfirm')[0];
            $('#registerFieldSet input').addClass('form-control-plaintext');
            $('#registerModalTitle').text('登録内容確認');
            $('#confirmRegister').css('display', 'flex');
            $('#inputRegister').css('display', 'none');
            $('#registerConfirmationAlert').css('display', 'block');
            return false;
        });
    });
    $(function(){
        $('#resetConfirm').on('click',function(){
            $('#registerFieldSet input').removeClass('form-control-plaintext');
            $('#registerModalTitle').text('新規会員登録');
            $('#confirmRegister').css('display', 'none');
            $('#inputRegister').css('display', 'flex');
            $('#registerConfirmationAlert').css('display', 'none');
            return false;
        });
    });
    $(function(){
        $('#submitConfirm').on('click',function(){
            $.ajax({
                url:'/api/register',
                type:'POST',
                data:{
                    'email':$('#registerEmail').val(),
                    'password':$('#registerPassword').val(),
                    'first_name':$('#registerFirstName').val(),
                    'family_name':$('#registerFamilyName').val(),
                    'first_name_kana':$('#registerFirstNameKana').val(),
                    'family_name_kana':$('#registerFamilyNameKana').val()
                }
            })
            .done( (data) => {
                $('.result').html(data);
                console.log(data);
                location.reload();
            })
            .fail( (data) => {
                $('.result').html(data);
                console.log(data);
            })
            .always( (data) => {
            });
            return false;
        });
    });
</script>
<% } %>

<%# ログアウトモーダル %>
<% if(session && session.user && session.user.id) { %>

<div class="modal" tabindex="-1" role="dialog" id="logoutModal">
    <form id="logoutModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalTitle">ログアウト</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="registerConfirmationAlert" class="alert alert-warning">ログアウトします。よろしいですか？</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-primary" id="submitLogout">OK</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function(){
        // Ajax button click
        $('#submitLogout').on('click',function(){
            $.ajax({
                url:'/api/logout',
                type:'POST',
                data:{}
            })
            .always( (data) => {
                $('.result').html(data);
                console.log(data);
                location.reload();
            });
            return false;
        });
    });
</script>

<% } %>
    
<div style="padding-top: calc(8px*2 + 50px)">
    <%- include(page, {}) %>
</div>


<script type="text/javascript">
    $('.bs-component [data-toggle="popover"]').popover();
    $('.bs-component [data-toggle="tooltip"]').tooltip();
</script>


</body>
</html>
