
<div class="container">
    <section class="bs-docs-section mt-5">
        <div class="row">
            <div class="col-lg-12">
                <h1><%= category %></h1>
            </div>
        </div>
        <div class="row mb-2">
            <% items.forEach(function(item){ %>
            <div class="col-lg-8">
                <img src="/img/items/<%= item[1] %>_m.jpg" class="img-fluid"/>
            </div>
            <div class="col-lg-4">
                <h2><%= item[2] %></h2>
                <p><%= item[3] %></p>
            </div>
            <% }) %>
        </div>
    </section>

</div>

    