<div class="row">
    <div class="col-lg-12">
        <h1>エラーが発生しました</h1>
    </div>
</div>
<div class="alert alert-danger" role="alert">
    <% if(error && error.text){ %>
        <%- error.text %>
    <% } %>
</div>
