
<div class="container">
    <section class="bs-docs-section mt-5">
        <div class="row mb-2">
            <div class="col-lg-6">
                <img src="/img/items/<%= item[1] %>_l.jpg" class="img-fluid"/>
            </div>
            <div class="col-lg-6">
                <h1><%= item[2] %></h1>
                <h3><%= item[3] %></h3>
                <p><%= item[4] %></p>
            </div>
        </div>
    </section>

</div>

    