<div class="container">
    <div class="alert alert-success mt-5" role="alert">
        <h3 class="alert-heading">お買い上げありがとうございました</h3>
        <p>商品発送次第、ご登録メールアドレスにご案内をお送りします。</p>
        <hr>
        <p class="mb-0">ご注文の内容は、いつでも<a href="/history/<%- session.user.id %>">注文履歴ページ</a>からご覧いただけます。</p>
    </div>
</div>

    